/* Header component */
header {
    padding: 60px 0 50px 0;
    text-align: right;
    background-color: transparent;

    .desktop-menu {
        @include mobile {
            display: none;
        }
    }
}

#mobile-right {
    display: none;
    position: fixed;
    top: 40px;
    right: 20px;
    z-index: 999999;

    @include mobile {
        display: inline-block;

        #mobile-btn {
            color: $black;
            font-size: 37px;
            z-index: 99999;

            &:hover {
                cursor: pointer;
            }
        }
    }
}

@-webkit-keyframes fade-in {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}


@-webkit-keyframes fade-out {
    from {
        opacity: 1;
    }

    to {
        opacity: 0;
    }
}

.mobile-menu {
    font-size: 18px;
    z-index: 9999;
    padding: 15px 25px 15px 25px;
    font-weight: $weight-bold;
    text-align: center;
    background-color: $black;
    z-index: 9999;
    border-radius: 10px;
    @include container(90%);
    position: fixed;
    left: 5%;
    display: none;
    box-shadow: 0 0 400px 0 black;
    -webkit-animation: fade-in .3s linear forwards;
    animation: fade-in .3s linear forwards;

    li {
        margin: 30px 0;

        a {
            color: white;
            transition: $transition-ease;

            &:hover {
                color: $light-purple;
                cursor: pointer;
            }
        }
    }

    .bottom {
        border-top: 1px solid rgba(255, 255, 255, 0.15);

        .cta-btn-mobile {
            color: white;
            font-size: 16px;
            border: 3px solid white;
            padding: 10px 40px;
            border-radius: 50px;

            &:hover {
                color: $black;
                background-color: white;
            }
        }
    }
}

.hamburger--slider.is-active .hamburger-inner:before {
    transform: rotate(-45deg) translate3d(-5.71429px, -6px, 0);
    opacity: 0;
}