#illustration-landing {
    height: 500px;
    float: right;

    @include mobile {
        height: 350px;
    }
}

#self-img {
    height: 300px;
    border: 10px double $black;
    box-shadow: $box-shadow-light;
    border-radius: 50%;

    @include mobile {
        height: 280px;
        margin-bottom: 20px;
    }
}

#contact-illustration {
    height: 400px;
    float: left;

    @include mobile {
        margin-bottom: 25px;
    }
}

.img-company-logo {
    border-radius: 50%;
    float: right;
    height: 65px;
    width: 65px;
    box-shadow: $box-shadow-light;
}