::-webkit-scrollbar {
    width: 14px;
}

/* Track */
::-webkit-scrollbar-track {
    border: 1px dotted rgb(214, 214, 214);
    background-color: $very-light-grey;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: linear-gradient(360deg, $purple 0%, $light-purple 100%);
    border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: $box-shadow-light;
}