.tooltip {
    position: relative;
    display: inline-block;
}

.tooltip .tooltiptext {
    font-size: 14px;
    visibility: hidden;
    font-weight: $weight-light;
    width: 120px;
    background-color: $black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 0;
    position: absolute;
    z-index: 1;
    bottom: 150%;
    left: 50%;
    margin-left: -60px;
}

.tooltip .tooltiptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: $black transparent transparent transparent;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
    padding: 10px 20px;
}

.tooltip .tooltiptext {
    transition: .3s ease;
    opacity: 0;
}

.tooltip:hover .tooltiptext {
    opacity: 1;
}